<p class="comentario">
	<strong><%= comment.commenter %></strong>
	<%= comment.body %>
	<br>
	<!--  <%= link_to 'Delete', [comment.article, comment],method: :delete,data: { confirm: 'Estas seguro?' } %> -->
</p>
		
