<%= render :partial => "layouts/headerAdmin" %>
<!-- Section -->
<section>
	<div id="service">
		<div id="content">
			<%= render 'formArticleEdit' %>
		</div>
	</div>
</section>
<%= render :partial => "layouts/subfooter" %>