<%= render :partial => "layouts/headerAdmin" %>
<!-- Section -->
<section>
	<div id="service">
		<div id="content">
			<div id="inner">
				<div class="rightPost">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</section>
<%= render :partial => "layouts/subfooter" %>
