<%= render :partial => "layouts/headerAdmin" %>
<!-- Section -->
<section>
	<div id="service">
		<div id="content">
			<div id="inner">
				<div >
					<p style="font-weight: bold; margin:inherit; margin-top:40px; font-size:20px;">Nuevo Proyecto</p>
					<%= render 'formProject' %>
				</div>
			</div>
		</div>
	</div>
</section>
<%= render :partial => "layouts/subfooter" %>
