<section class="login">
	<strong>BIENVENIDO</strong>
	<h3>Administrador de Contenidos</h3>
	<!-- %= link_to "Crear Cuenta", new_user_registration_path % -->
	<ul>
		<li><%= link_to "Iniciar Sesión", new_user_session_path %></li> <!-- enviar al menu de administrador -->
	</ul>
</section>

