<footer id="footer">			
				     
     <!--Use anything from here: http://fortawesome.github.io/Font-Awesome/cheatsheet/)-->

	<ul class="actions">
		<li>
			<a href="https://twitter.com/mawesisoftware" target="_blank" class="fa solo fa-twitter"><span>Twitter</span></a>
		</li>
		<li>
			<a href="https://www.facebook.com/mawesisoftware" target="_blank" class="fa solo fa-facebook"><span>Facebook</span></a>
		</li>
		<li>
			<a href="https://plus.google.com/+MawesiNet/posts" target="_blank" class="fa solo fa-google-plus"><span>Google+</span></a>
		</li>
		<li>
			<a href="https://www.linkedin.com/company/3775858?trk=tyah&trkInfo=tarId%3A1408641839175%2Ctas%3Amawesi%2Cidx%3A2-1-4" target="_blank" class="fa solo fa-linkedin"><span>linkedIn</span></a>
		</li>
		<li>
			<a href="#"  class="fa solo fa-instagram"><span>Instagram</span></a>
		</li>
	</ul>
	<ul class="menu">
		<li>&copy; MAWESI 2014</li>
		<li><a href="mailto:hello@mawesi.net">hello@mawesi.net</a></li>
	</ul>
</footer>